header {
    background-color: yellow;
    color: black;
    padding: 20px;
    display: flex;
}

.navbar{
    float: right;
}


.nav-item{

    font-size: 14px;
}
.logo img {
    width: 10%;
}


#parte1,
#parte2,
#parte3 {
    background-size: cover;
    height: 100vh;
}

#parte1 img,
#parte2 img,
#parte3 img {
    width: 100%;
    height: auto;
}